<ion-view style="" class=" " id="page4" title="Generar ISR">
    <ion-content class="has-header" padding="true">
      <button class="button button-full button-positive" onclick="generar()">
  CALCULAR ISR
</button>
<div class="card">
<div class="item item-divider">
<center>   ISR DEL EJERCICIO</center>
</div>
<center><div id="name">HOLA</div></center>
<div class="item item-text-wrap">
 <center><div id="p">0000</div></center>
 <center>Resultado:<div id="q">Sin Registros</div></center>
</div>

</div>
<center><img src="img/calculadora.png" style="width: 100px; height: 100px"></center><br>
<center><b>MATRIZ DE CÁLCULOS</b></center>
<div class="list">
<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 Ingresos por Salario <span class="item-note"><div id="a">0000</div></span>
</a>

<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (-)Tot. Ingresos Exentos<span class="item-note"><div id="b">0000</div></span>
</a>
<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (=)Ingresos Acum. <span class="item-note"><div id="c">0000</div></span>
</a>

<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (-) Deducciones Pers.<span class="item-note"><div id="d">0000</div></span>
</a>

<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (-)Pago de Serv. Escolares <span class="item-note"><div id="e">0000</div></span>
</a>

<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (=)Base del ISR <span class="item-note"><div id="f">0000</div></span>
</a>


<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (-)Limite Inferior <span class="item-note"><div id="g">0000</div></span>
</a>

<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (=)Excendete del Lim. Inf. <span class="item-note"><div id="h">0000</div></span>
</a>

<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (*)% del Exc. del Lim. Inferior <span class="item-note"><div id="i">0000</div></span>
</a>
<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (=)Impuesto Marginal <span class="item-note"><div id="j">0000</div></span>
</a>

<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (+) Cuota Fija <span class="item-note"><div id="k">0000</div></span>
</a>
<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (=)ISR Determinado <span class="item-note"><div id="l">0000</div></span>
</a>
<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (-)Subsidio del Empleo <span class="item-note"><div id="m">0000</div></span>
</a>
<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (=)ISR Causado <span class="item-note"><div id="n">0000</div></span>
</a>
<a class="item item-icon-left">
 <i class="icon ion-social-buffer"></i>
 (-) ISR Retenido <span class="item-note"><div id="o">0000</div></span>
</a>

</div>



    </ion-content>
</ion-view>
