<ion-view style="" class=" " id="page3" title="Pago de Servicios Educativos">
    <ion-content class="has-header" padding="true">
      <center><img src="img/dos.jpg" style="width: 150px; height: 150px"></center><br>

        <form class="list " id="pagoDeServiciosEducativos-form2" action="javascript:pagosEducativos()">
            <label name="rfc_ed" id="pagoDeServiciosEducativos-input6" class="item item-input item-stacked-label ">
                <span class="input-label">RFC</span>
                <input placeholder="" id="rfcEd" type="text" required>
            </label>
            <label id="pagoDeServiciosEducativos-input5" class="item item-input item-stacked-label ">
                <span class="input-label">Monto</span>
                <input placeholder="" id="montoEd" required type="number">
            </label>
            <button class=" button button-positive  button-block " id="pagoDeServiciosEducativos-button5">AGREGAR</button>
        </form>

        <hr>
        <center><b>DATOS</b></center>

        <div class="list card">

          <a  class="item item-icon-left">
            <i class="ion-ios-checkmark-empty"></i>
            RFC<div id="cinco">aaa000</div>
          </a>
          <a  class="item item-icon-left">
            <i class="ion-ios-checkmark-empty"></i>
            Monto:<div id="seis">000</div>
          </a>

        </div>
    </ion-content>
</ion-view>
